* text=auto eol=lf

*.rs diff=rust
*.jsx diff=javascript
*.js diff=javascript
*.css diff=css
*.html diff=html
*.md diff=markdown

# Tauri icons / binaries are binary
*.icns binary
*.ico binary
*.png binary
*.exe binary
